<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <style>
    @font-face {
   	 	font-family: 'OTWelcomeRA';
    	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
   		font-weight: normal;
    	font-style: normal;
    }

    * {
    	font-family: 'OTWelcomeRA';
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
	td{
		border-bottom : 2px dotted green;
		padding-left : 20px;
	}
	tr:hover{
		background-color : #FFD9FA;
		font-weight : bold;
	}
	td:nth-child(2){
		width : 300px;
	}
	input, textarea {
		padding : 5px;
		border-radius : 5px;
	}
	div {
		margin-top : 20px;
	}
	button {
		padding-top : 5px;
	}
    #thead {
        background-color: #EAEAEA;
    }
</style>
</head>
<body>
<h1 onclick="location.href='/newsmain'">뉴스 게시판</h1>
<hr>
<table>
    <tr id="thead">
        <td>번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>작성일</td>
        <td>조회수</td>
    </tr>
    <th:block th:if="${list}">
        <tr th:each="vo : ${list}">
            <td>[[${ vo.id }]]</td>
            <td th:class="${vo.id}" th:onclick="|getContent(${vo.id})|">[[${ vo.title }]]</td>
            <td th:class="${vo.id}"><a th:href ="@{/writer(writer=${vo.writer})}">[[${ vo.writer }]]</a></td>
            <td th:text="${#temporals.format(vo.writeDate, 'yyyy-MM-dd')}"></td>
            <td>[[${ vo.cnt }]]</td>
            <td th:class="${vo.id}" hidden>[[${ vo.content }]]</td>
        </tr>
    </th:block>
    <th:block th:if="${msg}">
        <tr>
            <td colspan="6">[[${ msg }]]</td>
        </tr>
    </th:block>
</table>
<div class="pagination">
    <span th:each="page : ${#numbers.sequence(0, totalPage - 1)}">
        <a th:href="@{/part(page=${pageStat.index}, size=1)}" th:text="${pageStat.index + 1}"></a>
    </span>
</div>

<th:block th:if="${ errorMsg }" >
    <script th:inline="javascript">
        alert([[${ errorMsg }]]);
    </script>
</th:block>
<div id="search">
    <form method = "get" action ="/search">
        <input type = "search" name = "keyword" >
        <input type = "submit" value = "뉴스검색">
    </form>
</div>
<br>
<button onclick="displayWrite();">뉴스 작성</button>
<script>
function displayWrite() {
		document.getElementById("write").style.display='block';
		document.getElementById("divT").style.display='none';

		document.getElementById("n_writer").value = "";
	    document.getElementById("n_title").value = "";
        document.getElementById("n_content").value = "";

		document.querySelector("#write [id=btn1]").value = "저장";
        document.querySelector("#write [id=btn1]").type= "submit";
        document.querySelector("#write [id=btn2]").value = "재작성";
        document.querySelector("#write [id=btn2]").type = "reset";
        document.querySelector("#write [id=btn3]").value = "취소";
        document.querySelector("#write [id=btn3]").type = "button";
        document.querySelector("#write [id=btn3]").setAttribute("onclick", "document.getElementById('write').style.display='none';return false");
		document.querySelector("#write form").action="/insert";
}

function displayContent(vo) {
	document.getElementById("write").style.display='block';
	document.getElementById("divT").style.display='block';

	document.getElementById("n_writer").value = vo.writer
	document.getElementById("n_title").value = vo.title;
    document.getElementById("n_content").value = vo.content;

	document.querySelector("#write [id=btn1]").value = "확인";
	document.querySelector("#write [id=btn1]").type= "button";
	document.querySelector("#write [id=btn1]").setAttribute("onclick", "document.getElementById('write').style.display='none';return false");
	document.querySelector("#write [id=btn2]").value = "수정";
	document.querySelector("#write [id=btn2]").type = "submit";
	document.querySelector("#write [id=btn3]").value = "삭제";
	document.querySelector("#write [id=btn3]").type = "button";
	document.querySelector("#write [id=btn3]").setAttribute("onclick", "location.href='/delete?id=" + vo.id +"'");
	document.querySelector("#write [type=hidden]").value=vo.id;
	document.querySelector("#write form").action="/update";
}

function getContent(id) {
	var xhr = new XMLHttpRequest();
	xhr.onload = function () {
		if(xhr.status == 200) {
			let jsondoms = JSON.parse(xhr.responseText);
			displayContent(jsondoms);
		}
	}
	xhr.open("GET", "/listOne?id="+id, true);
	xhr.send();
}
</script>
<div id="write" style="display:none">
    <hr><h2 id="divT">뉴스 내용</h2>
    <form method = "post" action = "/insert">
        <input type="hidden" name="id" value="0">
        작성자 : <input id="n_writer" type="text" name="writer" size="45" placeholder="작성자명을 입력해주세요" required>
        <br><br>
        제 목 : <input id="n_title" type="text" name="title" size="45" placeholder="제목을 입력해주세요" required>
        <br><br>
        내용
        <br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <textarea id="n_content" rows="3" cols="45" name = "content" placeholder="내용을 입력해주세요" required></textarea>
        <br><br>
        <input type = "submit" id="btn1" value = "저장">
        <input type = "reset" id="btn2" value="재작성">
        <input type="button" id="btn3" value="취소" >
    </form>
</div>
</body>
</html>
